# =============== #
# Unity Generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*

# =============== #
# User Settings   #
# =============== #

UserSettings/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# Rider
*.sln.iml

# =============== #
# OS Generated    #
# =============== #

.DS_Store
Thumbs.db

# =============== #
# Auto Packages   #
# =============== #

Packages/packages-lock.json

# =============== #
# Visual Studio   #
# =============== #

.vs/
*.db
*.opendb

# =============== #
# Crash Reports   #
# =============== #

sysinfo.txt
*.stacktrace

# =============== #
# Build Results   #
# =============== #

*.apk
*.aab
*.unitypackage
*.app
*.exe

# =============== #
# Unity Cache     #
# =============== #

*.unitypackage
*.uvprojx
*.uvoptx

# =============== #
# JetBrains IDEs  #
# =============== #

.idea/
*.sln.iml

# =============== #
# Others          #
# =============== #

/ExportedObj/
.consulo/
/*.pidb
/*.suo
/*.user
/*.userprefs
/*.unityproj
/*.booproj